@import "reset.css";

body {
  width: 100%;
  background: #A59283;
  font-family: "Pretendard", -apple-system, "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body.up header{
  opacity: 1;
}

body.down header{
  opacity: 0;
}

header {
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  font-size: 1rem;
  padding: 0 100px;
  transition: 300ms opacity ease-in-out;
}

header strong{
  display: block;
}

main{
  height: 100vh;
  width: 100%;
}

h1{
  font-size: max(3.7500vw, 38px);
  color: black;
  font-weight: 500;
  letter-spacing: -0.03em;
  line-height: 1.5;
}

h3{
  font-size: max(2.2083vw, 32px);
  color: black;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1.5;
}

.scroll-container{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, #AD9A8C, #A59283);
  overflow-x: hidden;
}

canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100vw;
  max-height: 100vh;
}

.section{
  width: 100%;
  height: 100vh;
  background: transparent;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid green; */
}

.section.img-section{
  width: 100%;
  height: 100%;
}

.text-section{
  align-items: flex-start;
  padding-top:  15rem;
}

.text-section .title{ 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-section .title p{ 
  padding-bottom: 0.5rem;
  font-size: max(1.4583vw, 18px);
  font-weight: 500;
  letter-spacing: -0.03em;
  line-height: 150%;
}

/* section2 */

.product-section{
  overflow: hidden;
}

.product-explain .pviot{
  position: relative;
  display: flex;
}

.product-explain{
  display: block;
  position: absolute;
  right: 10%;
}

.product-explain .line{
  width: 100px;
  height: 100px;
  border-right: 5px solid #000526;
  border-top: 5px solid #000526;
  margin-bottom: 20px;
}

.product-explain .line span{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  background: rgb(237, 35, 75);
  border-radius: 50%;
  position: relative;
  bottom: 0.5rem;
  right: 0.5rem;
}

.product-explain .line span .dot{
  position: absolute;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid rgb(237, 35, 75);
  opacity: 0.4;
}

.product-explain h3{
  padding-bottom: 0.8rem;
  padding-left: 20px;
}

.product-explain p{
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.03em;
  line-height: 150%;
  padding-left: 20px;
  max-width: 500px;
}

/* section3 시작 */


/* section4 */
.top-description{
  display: flex;
  gap: 50px;
  margin-bottom: 20px;
}

.img-container{
  width: 100%;
  height: 100%;
  background-color: rgba(2,2,2,.2);
  border-radius: 0.6rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 5rem;
}

@supports (backdrop-filter: blur(10px)) {
  .img-container {
    backdrop-filter: blur(10px);
  }
}

.img-container img{
  width: 300px;
  height: 300px;
}

.card-wrapper { 
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.card { 
  width: 100%;
  opacity: 1; 
  padding: 32px 24px;
  border-radius: 0.6rem;
  background-color: #fff;
  box-shadow: 0 1.6rem 4.8rem rgba(0,0,0,.22);
  border: 2px solid black;
}

.card h4 { 
  font-size: 22px;
  font-weight: 600;
  color: black;
  display: block;
  margin-bottom: 1rem;
}

.card .content{
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.03em;
  line-height: 150%;
}

.card .button{
  border: none;
  width: 100%;
  margin-top: 28px;
  padding: 1rem 1rem;
  border-radius: 0.4rem;
  background-color: #ed234b;
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}

.description{
  border: 2px solid black;
  border-radius: 0.6rem;
  padding: 2rem;
  width: 100%;
  height: 300px;
  background: #fff;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.03em;
  line-height: 150%;
  color: #000526;
}

.description p{
  display: block;
}

.description button{
  cursor: pointer;
  background:rgb(237, 35, 75);
  margin-top: 1.5rem;
  padding: 0.55rem 1.2rem 0.5rem;
  border-radius: 4rem;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: -0.02rem;
  text-align: center;
  color: white;
  border: none;
}

h5{
  display: block;
  margin-bottom: 2rem;
  font-size: 42px;
}

.a11y{
  display: none;
}

footer{
  padding: 0 10rem;
  position: relative;
  z-index: 2;
  background-color: #2e2e2e;
  font-size: 12px;
  color: #919191;
  height: 250px;
  overflow: hidden;
}

footer .footer-logo{
  line-height: 2.2rem
}

footer label{
  display: inline-block;
  line-height: 4.4rem;
  color: #fff;
  margin-top: 2.4rem;
}

footer strong{
  font-size: 16px;
  margin-right: 8px;
}

footer span{
  font-size: 12px;
}

footer .line{
  width: 100%;
  height: 0.1rem;
  background-color: #919191;
  margin: 12px 0;
}

footer .footer-nav{
  display: flex;
  font-size: 12px;
  font-weight: 400;
  color: #fbfafa;
  margin-bottom: 12px;
}

footer .footer-nav li{
  display: flex;
}

footer .footer-nav li:not(:last-of-type)::after {
  content: "";
  display: block;
  width: 0.1rem;
  height: 12px;
  background-color: #919191;
  margin: 0 1.2rem;
}

footer p{
  font-size: 12px;
  color: #919191;
  line-height: 22px;
}